<div class="flex-container">
    <div class="container">
        <div class="header">
            <h1>Explore the air quality</h1>

            <h2>in Serbia</h2>
        </div>

        <form [formGroup]="searchForm" (submit)="search()">
            <mat-form-field id="mat-select-states">
                <mat-select formControlName="states" [(ngModel)]="selectedState"
                    (selectionChange)="(filterCities($event))">
                    <mat-option placeholder="States" *ngFor="let state of this.service.States" [value]="state.id">
                        {{state.state}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field id="mat-select-cities">
                <mat-select [(ngModel)]="selectedCity" formControlName="cities">
                    <mat-option placeholder="Cities" *ngFor="let city of cities" [value]="city.id">
                        {{city.city}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary">
                Search
            </button>
        </form>



    </div>

    <div class="level-2">
        <div>
            <app-most-polluted></app-most-polluted>

        </div>
        <div>
            <app-display-city [pollution]="this.service.newPollution" *ngIf="this.service.check === true">
            </app-display-city>
        </div>
    </div>
</div>