<h1>Explore the air quality</h1>
<h2>anywhere in the world</h2>
<!-- <mat-form-field>
     <mat-select placeholder="Cities" formControlName="cities" [(ngModel)]="selectedCity">
        <mat-option *ngFor="let city of cityBox" [value]="city.Id">{{city.name}}</mat-option>
    </mat-select> 
</mat-form-field> -->

<!-- <mat-form-field>
    <mat-select placeholder="Country" formControlName="countries">
        <mat-option *ngFor="let country of countryBox" [value]="country.Id">{{country.name}}</mat-option>
    </mat-select>
</mat-form-field> -->