.container{
    display:flex;
    flex-direction: column;
    background-image: url('https://cdn.wallpapersafari.com/3/35/0NafvB.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 300px;
}
.level-2{
    display:flex;
    flex-direction: row;
}
.right-column{
    flex:50%;
}
.left-column{
    flex:50%;
}